.card {
    padding: 20px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.card a:hover {
    transform: translateY(-5px);
}